<h1>Posts list</h1>

<table class="table table-striped">
  <tr>
    <th>Title</th>
    <th>Actions</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td>
      <div class="btn-group">
        <%= link_to 'Show', [post], class: 'btn btn-info' %>
        <%= link_to 'Edit', edit_post_path(post), class: 'btn' %>
        <%= link_to 'Delete', [post], class: 'btn btn-danger', confirm: 'Are you sure?', method: :delete %>
      </div>
    </td>
  </tr>
<% end %>
</table>
<br />

<div style="clear:both"></div>
<%= link_to 'Add post', new_image_path, class: 'btn btn-primary' %>
